@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  height: 120px;
  .container {
    .navbar_menu {
      display: flex;
      justify-content: space-between;

      .logo {
        display: flex;
        align-items: center;
        text-decoration: none;

        span {
          padding: 10px 0 0 5px;
          font-size: 18px;
          color: #000;
          font-weight: 400;
        }
      }

      .menu {
        display: flex;
        justify-content: center;
        align-items: center;

        .menu_list {
          padding-left: 25px;

          .link {
            position: relative;
            font-size: 18px;
            font-weight: 400;
            color: #000;

            &::after {
              position: absolute;
              background-color: #19bce4;
              content: "";
              width: 0;
              height: 2px;
              left: 0;
              bottom: 0;
              transition: all ease 0.5s;
            }

            &:hover::after {
              width: 100%;
            }
          }
        }
      }

      .log_in {
        border: 1px solid #19bce4;
        display: flex;
        align-items: center;
        padding: 0 30px;
        font-weight: 400;
        height: 40px;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        background-color: #19bce4;
        transition: ease 1s;

        &:hover {
          background-color: #2ea2be;
        }
      }
    }
  }
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(../images/background.jpg);
  min-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 120px);
  object-fit: cover;

  .container {
    .header_content {
      height: calc(100vh - 120px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      .title {
        color: #fff;
        font-size: 64px;
      }
      .paragraph {
        font-size: 20px;
        color: #fff;
        line-height: 2em;
        padding: 20px 0px;
      }

      .header_box {
        background-color: #fff;
        width: 75%;
        height: 100px;
        margin-top: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .dropdown_box {
          border: 1px solid rgba(35, 158, 189, 0.3);;
          position: relative;
          display: flex;
          padding: 10px;
          flex-direction: column;

          .dropdown {
            .dropdown_select {

              border-radius: 4px;
              width: 150px;
              display: flex;
              align-items: center;
              font-size: 16px;
              cursor: pointer;

              .select {
                padding: 0;
              }

              .icon {
                padding: 0;
              }
            }

            .dropdown_list {
              border-radius: 4px;
              background-color: #ffffff;
              border: 1px solid #000;
              position: absolute;
              left: 10px;
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.2s linear, visibility 0.2s linear;

              .dropdown_list_item {
                padding: 0 10px;
                margin: 0;
                font-size: 16px;
                text-align: center;

                &:hover{
                  background-color: rgb(224, 217, 217);
                  cursor: pointer;
                }
              }
            }

            &:hover .dropdown_list {
              opacity: 1;
              visibility: visible;
            }
          }

          .selected_text {
            display: flex;
            font-size: 20px;
          }
        }
      }
    }
  }
}
